<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzs0zB1PSt_srloEajISXRc5uvxqcUA10</string>
	<key>GCM_SENDER_ID</key>
	<string>72996944730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.RideShare</string>
	<key>PROJECT_ID</key>
	<string>rideshare-b3eea</string>
	<key>STORAGE_BUCKET</key>
	<string>rideshare-b3eea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72996944730:ios:e5ab0d880ed7d4dc499163</string>
</dict>
</plist>